/* VERSION: alpha-1.0.1 */


.textview {
    /* 2e2e2e */
    background: transparent;
    color: white;
    caret-color: white;
    font-size: 20px;
}

.bgr {
    background-color: #2e2e2e;

}

.highlight {
    background-color: #3d3d3d;
}

@keyframes swoop-in {
    from {
        transform: translate(100px, -10px); 
    }
    to {
        transform: translate(-10px, -10px);
    }
}

.fileBar {
    background-color: #1f1f1f;
    color: white;
}
.fileBar > * {
    background-color: #3d3d3d;
}

.gWindowShift {
    transform: translateY(30px);
}

.fileBarClose {
    background-image: none;
    border: 0;
    outline: 0;
    color: white;
    font-size: 20px;
    padding: 0;
}