/* this file is just for editing the css, it doesnt actually need to exist */


.textview {
    /* 2e2e2e */
    background: transparent;
    color: white;
    caret-color: white;
    font-size: 20px;
}

.bgr {
    background-color: #2e2e2e;

}

.highlight {
    background-color: #3d3d3d;
}



@keyframes swoop-in {
    from {
        transform: translate(100px, -10px); 
    }
    to {
        transform: translate(-10px, -10px);
    }
}

.fileBar {
    background-color: #1f1f1f;
    color: white;
}
.fileBar > * {
    background-color: #3d3d3d;
}

.fileBarOpen {
    transform: translateX(30px);
}