.textview {
    /* 2e2e2e */
    background: transparent;
    color: white;
    caret-color: white;
    font-size: 20px;
}

.bgr {
    background-color: #2e2e2e;

}

.highlight {
    background-color: #464646;
}